<!-- stylesheet for main page -->
<style>

  .video_link{
    display:none;
  }

  .result_icons {
      position: relative;
      width: 800px; ;
      height: 600px ;
      margin-top: 20px;
  }

  .show_icons {
      position: relative;
      width: 800px; ;
      height: 200px ;
      margin-top: 20px;
      z-index:3;
  }

  .video_frame {
      position: absolute;
      top: 0;
      width: 800px;
      height: 600px;
      background: #000;
  }

  .embedded_explorer {
      position: absolute;
      overflow: scroll;
      opacity: 0.9;
      border: none;
      width: 400px;
      height: 220px;
      left:0px;
      z-index:10;
  }

  .results_frame{
    /* display:none; */
    position: absolute;
    overflow: scroll;
    opacity: 0.9;
    border: none;
    width: 400px;
    height: 220px;
    left: 400px;
    z-index:10;
    /* apply the transform */
    /* -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    transform:scale(0.8); */
  }

  #explorer_frame{
    /* display:none; */
    position: relative;
    overflow: scroll;
    opacity: 0.8;
    border: none;
    width: 100%;
    height: 100%;
    left: 0%;
    z-index:9;
    /* font-family: sans-serif;
    color: red;
    font-size: 2em; */
  }

  .hyper_browsing{
    position: absolute;
    overflow: scroll;
    width: 800px;
    height: 220px;
    z-index:6;
  }

  .gcse {
      position: relative;
      opacity: 0.9;
      border: none;
      width:100%;
      height:100%;
      z-index:30;
  }

  .caption_icon {
      /* display: none; */
      position: absolute;
      top: 523px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      z-index: 50;
      opacity: 0.9;
  }

  .caption_text{
    display: none;
    position: absolute;
    top: 476px;
    width: 280px;
    left: 260px;
    text-align:center;
    background: #F8E016;
    opacity: 0.7;
    z-index: 50;
    /* border-radius: 95%; */
  }
  .caption_icon:hover .caption_text {
      display:block;
  }

  #keyword_form {
      display:none;
      position: absolute;
      /* top: 120px; */
      left: 600px;
      width: 200px;
      height: 110px;
      z-index: 3;
      /* background: #F8E016; */
      opacity: 0.2;
      border-radius: 20px;}

  #keyword_form:hover {
        opacity: 0.6;}

  #explorer_form {
      display:none;
      position: absolute;
      top: 120px;
      left: 600px;
      width: 200px;
      height: 110px;
      z-index: 30;
      /* background: #F8E016; */
      opacity: 0.2;
      border-radius: 20px;}

  #explorer_form:hover {
        opacity: 0.6;}

  #intralink_form {
      display:none;
      position: absolute;
      top: 120px;
      left: 600px;
      width: 200px;
      height: 110px;
      z-index: 30;
      background: #A968F3;
      opacity: 0.2;
      border-radius: 20px;}

  #intralink_form:hover {
      opacity: 0.6;}

  .confirm_select {
      display:none;
      position: absolute;
      top: 536px;
      left: 335px;
      width: 130px;
      height: 80px;
      z-index: 30;
      background: #A968F3;
      opacity: 0.6;
      border-radius: 20px;}

  .confirm_button {
      position: absolute;
      width: 25px;
      height: 25px ;
      top: 0%;
      /* left: 34%; */
      margin-top: 10px;
      /* text-align: center; */
      z-index: 50;
      border-radius: 6px;
      background: #ffffff00;
      }

  .confirm_icon {
      /* position: absolute; */
      /* top: 523px; */
      position: relative;
      width: 35px;
      height: 35px;
      /* border-radius: 50%; */
      z-index: 20;
      /* opacity: 0.9; */
    }


  .temp_pin {
    top:636px;
    position:absolute;
    width:24px;
    height:24px;
    z-index: 200;
  }


  .start_pin{
    position:absolute;
    top:636px;
    width:24px;
    height:24px;
    z-index: 200;
  }

  .target_pin{
    position:absolute;
    top:625px;
    width:35px;
    height:35px;
    z-index: 200;
    opacity: 0.8;
  }



  .toggle {
    position: absolute;
    left: 800px;
    width: 30px;
    height: 110px;
    z-index: 10;
    opacity: 0.4;
    border-radius: 25px;
  }
 .toggle:hover {
        opacity: 0.8;}

  .progress_bar_padding {
      display: none;
      position: absolute;
      width: 776.1px;
      height:7px ;
      /* top: 72.1%; */
      left: 1.55%;
      background: #A968F3;
      opacity: 0.5;
      text-align: center;
      z-index: 60;
    }

.instruction {
  display: none;
  font-family: sans-serif;
  z-index:100;
  text-align: center;
}
.instruction:hover {
       opacity: 0.7;}

#browser_toggle {
    position: relative;
    left: 20px;
    width: 110px;
    height: 30px;
    top: 2.15%;
    z-index: 50;
    opacity: 0.4;
    border-radius: 25px;
    background: #4169E1;
  }
#browser_toggle:hover {
         opacity: 0.8;}


  #keyword_box {
      position: relative;
      width: 90px ;
      height: 15px ;
      margin-top: 10px;
      margin-left: 10px;
      z-index: 3;
  }

  #num_results_box {
      position: relative;
      width: 20px;
      height: 15px ;
      margin-top: 10px;
      margin-left: 10px;
      z-index: 3;
  }

  #capsearch_button {
    position: absolute;
    width: 60px;
    height: 25px ;
    top: 55%;
    left: 34%;
    margin-top: 10px;
    text-align: center;
    z-index: 3;
  }


  #hypervideo_box {
        position: relative;
        width: 170px ;
        height: 18px ;
        margin-top: 12px;
        margin-left: 10px;
        z-index: 3;
    }

  #hypervideo_button {
    position: absolute;
    width: 62px;
    height: 25px ;
    top: 60%;
    left: 34%;
    margin-top: 10px;
    text-align: center;
    z-index: 3;
  }


  #intralink_button {
    position: absolute;
    width: 60px;
    height:25px ;
    top: 50%;
    left: 34%;
    margin-top: 10px;
    text-align: center;
    z-index: 3;
  }




  div.relative {
    position: relative;
    left: 180px;
    width: 800px;
    height: 900px;
    font-family: sans-serif;
  }

  div.absolute {
    position: absolute;
    top: 260px;
    right: 100px;
    width: 800px;
    height: 420px;
    border: 3px solid #73AD21;
    z-index: 0;
  }

  .route_check{
    display: none;
    position: absolute;
    top: 680px;
  }

  .debug{
    position: absolute;
    top: 750px;
    left: 0px;
    width: 100px;
    height: 30px;
    z-index: 1;
    background: #F8E016;
    opacity: 0.9;
    border-radius: 20px;
  }

  #route_debug {
    position: relative;
    text-align: center;
    margin-top: 5px;
    z-index: 1;
  }


</style>
