<!-- stylesheet for main page -->
<style>

  .video_link{
    /* display:none; */
  }

  .result_icons {
      position: relative;
      width: 800px; ;
      height: 600px ;
      margin-top: 20px;
  }

  .show_icons {
      position: relative;
      width: 800px; ;
      height: 200px ;
      margin-top: 20px;
      z-index:3;
  }

  .video_frame {
      position: absolute;
      top: 0;
      width: 800px;
      height: 600px;
      background: #000;
  }

  .embedded_explorer {
      position: absolute;
      overflow: hidden;
      opacity: 0.3;
      border: none;
      width: 800px;
      height: 200px;
      left:0px;
      /* background: #16F867; */
      z-index:5;
  }

  .caption_icon {
      position: absolute;
      top: 523px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      z-index: 50;
      opacity: 0.9;
  }

  .caption_text{
    /* display: none; */
    position: absolute;
    top: 450px;
    width: 200px;
    left: 300px;
    text-align:center;
    background: #F8E016;
    opacity: 0.8;
    z-index: 50;
  }
  .caption_icon:hover .caption_text {
      display:block;
  }

  #keyword_form {
      display:none;
      position: absolute;
      /* top: 120px; */
      left: 600px;
      width: 200px;
      height: 110px;
      z-index: 3;
      /* background: #F8E016; */
      opacity: 0.2;
      border-radius: 20px;}

  #keyword_form:hover {
        opacity: 0.6;}

  #explorer_form {
      display:none;
      position: absolute;
      top: 120px;
      left: 600px;
      width: 200px;
      height: 110px;
      z-index: 30;
      background: #F8E016;
      opacity: 0.2;
      border-radius: 20px;}

  #explorer_form:hover {
        opacity: 0.6;}


  #explorer_frame{
    /* display:none; */
    z-index: 80;
    /* apply the transform */
    /* -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    transform:scale(0.8); */

  }

  #intralink_form {
      display:none;
      position: absolute;
      top: 120px;
      left: 600px;
      width: 200px;
      height: 110px;
      z-index: 30;
      background: #F8E016;
      opacity: 0.2;
      border-radius: 20px;}

    #intralink_form:hover {
      opacity: 0.6;}


  .toggle {
    position: absolute;
    left: 800px;
    width: 30px;
    height: 110px;
    z-index: 10;
    opacity: 0.5;
    border-radius: 25px;
  }
 .toggle:hover {
        opacity: 0.7;}

  #keyword_box {
      position: relative;
      width: 90px ;
      height: 15px ;
      margin-top: 10px;
      margin-left: 10px;
      z-index: 3;
  }

  #num_results_box {
      position: relative;
      width: 20px;
      height: 15px ;
      margin-top: 10px;
      margin-left: 10px;
      z-index: 3;
  }

  #capsearch_button {
    position: absolute;
    width: 60px;
    height: 25px ;
    top: 55%;
    left: 34%;
    margin-top: 10px;
    text-align: center;
    z-index: 3;
  }


  #hypervideo_box {
        position: relative;
        width: 170px ;
        height: 18px ;
        margin-top: 12px;
        margin-left: 10px;
        z-index: 3;
    }

  #hypervideo_button {
    position: absolute;
    width: 62px;
    height: 25px ;
    top: 60%;
    left: 34%;
    margin-top: 10px;
    text-align: center;
    z-index: 3;
  }


  #intralink_button {
    position: absolute;
    width: 60px;
    height:25px ;
    top: 50%;
    left: 34%;
    margin-top: 10px;
    text-align: center;
    z-index: 3;
  }

  div.relative {
    position: relative;
    left: 180px;
    width: 800px;
    height: 900px;
    /* border: 3px solid #73AD21; */
  }

  div.absolute {
    position: absolute;
    top: 260px;
    right: 100px;
    width: 800px;
    height: 420px;
    border: 3px solid #73AD21;
    z-index: 0;
  }





  .route_check{
    display: none;
    position: absolute;
    top: 680px;
  }

  .debug{
    position: absolute;
    top: 750px;
    left: 0px;
    width: 100px;
    height: 30px;
    z-index: 1;
    background: #F8E016;
    opacity: 0.9;
    border-radius: 20px;
  }

  #route_debug {
    position: relative;
    text-align: center;
    margin-top: 5px;
    z-index: 1;
  }


</style>
