<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Hypervideo Room</title>

    {% include '/styles/_style_main.html' %}

    <script async src="https://cse.google.com/cse.js?cx=69c71397202d1fb8c"></script>
  </head>

  <body>

    <div class="relative" >
      <h1 style = "font-family:georgia,garamond,serif;font-size:22px;font-style:italic;">
        "Don't let your lectures run you."</h1>
      <div class="instruction" id='#remember_to_unmute' style='display:inline; position:absolute; width:140px; text-align:center; left:395px; top:0px; font-size:12px; opacity:0.6; background: #6E5959; color:white; border-radius:12px'>
                  remember to unmute
      </div>

      <p class='video_link' style="color:brown; "> **show user url:** <br> {{session['user_url']}} </p>
      <p class='video_ID' style="color:brown; " value="{{session['videoID']}} " > {{session['videoID']}} </p>

      <div class='toggle' id='browser_toggle' style=""> </div>
      <div class="instruction" id="click_control_browser" style=" position:absolute; height: 30px; top:38px; left: 102px; font-size:15px; color: #6E5959; opacity:0.7 " > click to hide/show search bar </div>


      <div class="result_icons">
        <div class="hyper_browsing" >
          <div class="embedded_explorer" style=" overflow: scroll; opacity: 0.7">
            <div class="gcse-searchbox"></div>
            <div id="gcse" class="gcse-searchresults" linktarget="_blank" data-enableHistory="true" data-autoCompleteMaxCompletions="5"
              queryParameterName="q" data-webSearchQueryAddition=" wikipedia OR youtube OR explained OR tutorial OR lecture "  data-autoCompleteMatchType='any'></div>
          </div>
          <div class="results_frame">

            <iframe id="explorer_frame" src="https://www.wikipedia.org/">
            </iframe>

          </div>
        </div>


          <div class="video_frame" >
              <iframe id='YouTubeVideo' type="text/html" frameborder="0" width="800"  ></iframe>
              <div id="ytplayer" style="z-index: 2; position:absolute; top:0%; left:0%;  " ></div>

          </div>

          <div class="show_icons">
          </div>

      </div>

      <div class="feature" id="feature_1">
        <form method="POST" action="/" id='keyword_form' style=" background: #F8E016; top: 54%;">
              <label id="keyword_label" style="margin-left: 10px;" > Keyword </label>
              <input name="keyword" id="keyword_box" type="text" value="question" placeholder="e.g.problem" >
              <br>
              <label id="num_results_label" style="margin-left: 10px;"> Number of Results </label>
              <input name="num_results"  id="num_results_box" type="text" value="4" placeholder="2" >
              <br>
              <button class="button" id="capsearch_button" type=”submit” name="form_butt"> Search </button>
          </form>
          <br>
          <div class='toggle' id='f1_toggle' style="background: #F8E016; top: 54%;"> </div>
          <div class="instruction" id="click_control_capsearch" style=" position:absolute; height: 30px; top:522px; left: 620px; font-size:15px;color: #6E5959; opacity:0.7" > click to hide/show <br>caption search engine</div>
      </div>

      <div class="feature" id="feature_2">

         <form action="" method="GET" id='explorer_form' style=" background: #16F867; top: 18%;">
            <p id='explorer_title' style="margin-top: 10px; text-align: center; margin-bottom: 0px"> Hypervideo Explorer </p>

            <input name="explorer_query" id="explorer_inputs" type="text" value="" placeholder="paste in your link here" style="margin-left: 10%; margin-top: 5%; width: 150px;">

            <br>
            <button class="button" id="hypervideo_button"  type="submit" >Explore</button>

          </form>
          <br>
          <div class='toggle' id='f2_toggle' style="background: #16F867; top:18%;"> </div>
          <div class="instruction" id="click_control_explorer" style=" position:absolute; height: 30px; top:200px; left: 630px; font-size:15px;color:  #6E5959; opacity:0.7" > click to hide/show <br>hypervideo explorer </div>


      </div>

      <div class="feature" id="feature_3">

          <div class="feature_3_padding">

          </div>

          <div class='confirm_select' id="confirm_select_1" >
                  <p  class='confirm_question' id='confirm_question' style=" text-align: center; margin-bottom: 0px"> Pin here? </p>

                  <div class="confirm_button" id='confirm_button_yes' style="  left:16%; top:36%; ">
                      <img class="confirm_icon" id="confirm_icon_yes" src="/static/icons/thumbs_up_icon.png" alt="yes" >
                 </div>

                  <div class="confirm_button" id='confirm_button_no' style=" left:61%; top:36%;">
                      <img class="confirm_icon" id="confirm_icon_no" src="/static/icons/thumbs_down_icon.png" alt="no" >
                  </div>
          </div>

          <div class='confirm_select' id="confirm_select_2" style="width: 150px;">
                  <p  class='confirm_question' id='confirm_question_final' style=" text-align: center; margin-bottom: 0px"> Make an intralink? </p>

                  <div class="confirm_button" id='confirm_button_yes_2' style="  left:16%; top:36%; ">
                      <img class="confirm_icon" id="confirm_icon_yes_2" src="/static/icons/thumbs_up_icon.png" alt="yes" >
                 </div>

                  <div class="confirm_button" id='confirm_button_no_2' style=" left:61%; top:36%;">
                    <img class="confirm_icon" id="confirm_icon_no_2" src="/static/icons/thumbs_down_icon.png" alt="no" >
                  </div>
          </div>

          <form class="feature_3" id='intralink_form' action="/" method="POST" style="background: #A968F3; top: 36%;">
                <p id='intralink_title' style="margin-top: 17px; text-align: center; margin-bottom: 0px"> Select Two Moments to <br> Add An Intralink </p>
                <button id="intralink_button" type=”submit” name="form_butt"> Select </button>
          </form>

          <div  class="progress_bar_padding" id="pg_bar_1" style=" top: 71.0%; ">  </div>
          <div  class="progress_bar_padding" id="pg_bar_2" style=" top: 72.17%; ">  </div>
          <div class="instruction" id="click_to_pin_moment" style="height: 30px; position: absolute; top:73%; left: 35%; color: white; font-size:15px; color: #D8BAF3;" > click purple bars to pin this moment </div>


          <div class='toggle' id='f3_toggle' style="background: #A968F3; top: 36%;"> </div>
          <div class="instruction" id="click_control_intralink" style=" position:absolute; height: 30px; top:361px; left: 632px; font-size:15px;color: #6E5959; opacity:0.7" > click to hide/show <br>intralink annotator </div>

      </div>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
          // create a youtube player object
        //  This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // This function creates an <iframe> (and YouTube player)
          //    after the API code downloads.

          var player; // create a player object

          // var video_ID = 'EFIGM-iYbEQ'
          var video_ID = String($('.video_ID').text());

          function onYouTubeIframeAPIReady() {
            player = new YT.Player('ytplayer', {
              height: '600',
              width: '800',

              videoId: 'BCiZc0n6COY', // fix videoId for Heroku demo purpose
              // videoId: video_ID,   // otherwise should turn on this line for dynamic video play
              playerVars:{
                'autoplay': 1, // autoplay on load
                'fs':0,
                'modestbranding': 0, // don't show smaller logo
                'enablejsapi':1,
                'cc_load_policy': 1
              },
              events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
              }
            });
          }

          // 4. The API will call this function when the video player is ready.
          function onPlayerReady(event) {
                  // alert(typeof video_ID);
                  // player.loadVideoById(video_ID)
                  event.target.playVideo();
                  player.mute();
            }

          // 5. The API calls this function when the player's state changes.
          //    The function indicates that when playing a video (state=1),
          //    the player should play for six seconds and then stop.
          var done = false;
          function onPlayerStateChange(event) {
          }

          function stopVideo() {
            player.stopVideo();
          }

          // insert jQuery event handler
          $('.gettime').on("click", function(){
              alert('gettime button clicked!')
              alert('current_time: '+ player.getCurrentTime()+ 's')
              // player.seekTo(600, true);
              // alert('jumped moments')

          })


          $('.set_playtime').on('submit',function(e){
              e.preventDefault();
              alert('LOOOOOL '  );
              var new_time = $('#set_video_time').val()
              var t_seconds = parseInt(new_time) // convert to int
              // alert(typeof t_seconds)
              // alert('-----player time SET at ' + t_seconds )

              // add new start time
              // var current_ytURL = $('#YouTubeVideo').attr('src');
              var URL_play_at_new = current_ytURL+"&start="+String(t_seconds)
              alert('new URL '+URL_play_at_new)
              $('#YouTubeVideo').attr('src',URL_play_at_new);

              // player.seekTo(t_seconds, true)
              // setTimeout(stopVideo, 60000);
              // alert('new time SET!!!')
              // event.target.playVideo();
              // player.mute();
          })

        // event handlers for search bar
        $("#browser_toggle").on('mouseenter',function(){
                      $('#click_control_browser').fadeIn('fast');
                    });

        $("#browser_toggle").on('mouseleave',function(){
                        $('#click_control_browser').hide();
                    });

        $("#browser_toggle").click(
                function() {
              $(".hyper_browsing").toggle();
          })


          // event handlers for caption search results
        $("#f1_toggle").on('mouseenter',function(){
                  $('#click_control_capsearch').fadeIn('fast');
                });

        $("#f1_toggle").on('mouseleave',function(){
                    $('#click_control_capsearch').hide();
                });
        $("#f1_toggle").click(
               function() {
             $("#keyword_form").toggle();
             $(".caption_icon").toggle();
           })


           // event handlers for hypervideo explorer
        $("#f2_toggle").on('mouseenter',function(){
                  $('#click_control_explorer').fadeIn('fast');
              });
        $("#f2_toggle").on('mouseleave',function(){
                   $('#click_control_explorer').hide();
              });
        $("#f2_toggle").click(
                function() {
              $("#explorer_form").toggle();
              $(".hyper_browsing").show();
          })


        // event handlers for intralink annotator
        $("#f3_toggle").on('mouseenter',function(){
                  $('#click_control_intralink').fadeIn('fast');
                });

        $("#f3_toggle").on('mouseleave',function(){
                    $('#click_control_intralink').hide();
                });

        $("#f3_toggle").click(
                function() {
              $("#intralink_form").toggle();
              // $('.progress_bar_padding').toggle();
              $('.progress_bar_padding').hide();
              $('.start_pin').css('opacity', '0.8');
              $('.start_pin').toggle();
              $('.target_pin').fadeOut();

          })


        //  feature 2: embed Google search results
        $('#explorer_form').on("submit",function(e){

            e.preventDefault();
            var user_query = $("#explorer_inputs").val()

            $(".embedded_explorer").show(); // show Google search bar
            $("#explorer_form").hide(); // hide search box

            $.post("/explorer_query", { current_query : user_query} )
                  .done (function (reply) {

                    $(".results_frame").empty(); // first, remove old iframe tag

                    var embedded_url = reply.user_embedded_url

                    // make a new iframe tag with new url
                    var html_new_iframe = "<iframe id='explorer_frame' src=" + embedded_url + "></iframe>"

                    $( ".results_frame" ).append(html_new_iframe);

                    $("#explorer_form").hide(); // hide search box
                    $('#explorer_inputs').val(''); // clear input box for new entry
                })
                  .fail(function() { alert("error"); })
        });


        // hover&show / hoveroff&hide for the Google search box
        $(".embedded_explorer").hover(function(){
            $('#gcse').fadeIn();
                  },function(){
            $('#gcse').fadeOut();
          });

        // hover&show / hoveroff&hide for results iframe
        $(".results_frame").hover(function(){
              $('#explorer_frame').fadeIn();
                    },function(){
              $('#explorer_frame').fadeOut();
            });

        //  caption_search and results display
        $('#keyword_form').on("submit",function(e){
            e.preventDefault();
            var caption_keywords = $("#keyword_box").val();
            var num_results = $("#num_results_box").val();
            var player_data = player.getVideoData()
            var video_id = player_data['video_id']

            $.post("/caption_search",
                      { current_keyword : caption_keywords,
                        current_num_results : num_results,
                        current_video_id: video_id})

                  .done (function (data) {

                      $( ".show_icons" ).empty();  // empty results div

                      // now convert caption timestamps to icon positions on video progress bar
                      var items = [];
                      var video_width = $('#YouTubeVideo').contents().width()

                      $.each( data, function( key, val ) {
                          var icon_pos_i = (video_width * 0.9698 * val.progress)+ 5.95 - 34/4-2; // img_width=34 (center pin on moment)

                          items.push(
                            "<img class='caption_icon' id='caption_icon_" + key + "' value=" + String(val.time) + " src='/static/icons/caption_icon.png' "+
                                                 "alt='me.jpeg'  style='position: absolute; left: " + icon_pos_i + "px; '>" +
                            "<p class='caption_text' id='captext_" + key +"' value=" + key  +  "> " + val.caption +  "</p>"
                            );
                        });

                      var html_results_icon = items.join( "" ) // join each result flag
                      $( ".show_icons" ).append(html_results_icon);

                      // show/hide caption on mouse hover
                      $(".caption_icon").hover(function(){
                          var id = $(this).attr('id')
                          var idx = id.substr(id.length - 1);  // should be a str(int)
                          $('#captext_'+idx).fadeIn() ;
                        });

                      $(".caption_icon").mouseleave(function(){
                          var id = $(this).attr('id')
                          var idx = id.substr(id.length - 1);  // should be a str(int)
                            // var idx = $(this).attr('value') // should be a str(int)
                          $('#captext_'+idx).fadeOut() ;
                        });

                      $(".caption_icon").click(function(){
                          var timestamp = parseFloat($(this).attr('value'));

                          player.seekTo(timestamp, true); // player seek to replay at given timestamp
                        });
                })
                  .fail(function() { alert("error"); })
        });


        //////////// feature 3: intralink ////////////
        var time_stamps = [];
        var pin_pos_array = [];
        var pos_left, pos_top//px, absolute
        var pin_counter = 0; // initiate an intralink pin counter

        $('#intralink_form').on("submit",function(e){
            e.preventDefault();
            $('.progress_bar_padding').fadeIn()
            // clear current time_stampes when starting a new intralink
            time_stamps = [];
          });

        $('.progress_bar_padding').on('click', function(e){
              // var current_time = String(player.getCurrentTime())
              if ( time_stamps.length == 2) {
                  $('#confirm_select_2').fadeIn('fast')

                  // get start & target pin position (left coodinate on webpage)
                  var first_pin_left_pos = pin_pos_array[0]
                  var last_pin_left_pos = pin_pos_array[pin_pos_array.length-1]
                  var start_pin = String(first_pin_left_pos)
                  var target_pin = String(last_pin_left_pos)

                  // pin count +1 (used as pin tag id index)
                  pin_counter++;

                  // make new element tags for start & target moment pins
                  var intralink_start_html = '<img class="start_pin" id="start_pin_'+pin_counter+'" style="left:'+ start_pin + 'px;" value=" '+ time_stamps + ' "  src="/static/icons/intralink_icon.png">'
                  var intralink_target_html = '<img class="target_pin" id="target_pin_'+pin_counter+'" style=" display:none; left:'+ target_pin + 'px;" value=" '+ time_stamps + ' "  src="/static/icons/intralink_target_icon.png">'
                  // insert new elements to body
                  $('.relative').before(intralink_start_html)
                  $('.relative').before(intralink_target_html)
                  // remove temporary pins
                  $('.temp_pin').remove();
                  $('.progress_bar_padding').fadeOut() // fade out selection area to signal completion of intralink building
                  // clear position & timestamp bins for reuse
                  pin_pos_array = [];
                  time_stamps = [];

                  $(function() {
                          // eventing handling with dynamically inserted elements
                          $('.start_pin').click(function() {
                              // jump to corresponding 'target time'of this intralink on click
                              var get_ts = $(this).attr('value')
                              var id = $(this).attr('id')
                              var idx = id[id.length-1]

                              var t_pairs = get_ts.split(',')
                              var seek_t = t_pairs[t_pairs.length-1] // seek target time

                              player.seekTo(seek_t, true) // youtube player jump to target time upon click
                              // make start pin invisible to direct focus to the 'target' pin
                              $(this).css('opacity', '0');
                              $('#target_pin_'+idx).fadeIn() // show target pin element
                          });

                          $('.target_pin').on('click', function(){
                              // revert back to start_time if target pin is clicked
                              var get_ts = $(this).attr('value')
                              var id = $(this).attr('id')
                              var idx = id[id.length-1]

                              var t_pairs = get_ts.split(',')
                              var seek_t = t_pairs[0] // seek start time

                              player.seekTo(seek_t, true) // jump back to start time of this intralink
                              $(this).fadeOut() // remove target pin
                              $('#start_pin_'+idx).css('opacity', '0.8'); // show start pin
                              $('#start_pin_'+idx).fadeIn()

                          })

                    });

                }
                else {
                  // else, continue to get the current mouse position for temp_pin
                  pos_left = e.pageX-16//px, absolute
                  $('#confirm_select_1').fadeIn(); // show confirm question: pin here or not?
              }
          })

        // show/hide instruction on how to use the purple progress bar on hover
        $("#pg_bar_1").on('mouseenter',function(){
              $('#click_to_pin_moment').fadeIn();
            });
        $("#pg_bar_1").on('mouseleave',function(){
                $('#click_to_pin_moment').fadeOut();
            });

        // check if an intralink is ready to be made
        $('#confirm_button_yes').on('click', function(){

            var pin_html = '<img class="temp_pin" style=" left:'+ pos_left + 'px; " src="/static/icons/moment_pin_icon.png">'
            $(".relative").before(pin_html);

            if ( time_stamps.length == 2) {

                  var first_pin_left_pos = pin_pos_array[0]
                  var last_pin_left_pos = pin_pos_array[pin_pos_array.length-1]
                  var start_pin = String(first_pin_left_pos)
                  var target_pin = String(last_pin_left_pos)
                  // pin count +1 (used as pin tag id index)
                  pin_counter++;
                  // make new element tags for start & target moment pins
                  var intralink_start_html = '<img class="start_pin" id="start_pin_'+pin_counter+'" style="left:'+ start_pin + 'px;" value=" '+ time_stamps + ' "  src="/static/icons/intralink_icon.png">'
                  var intralink_target_html = '<img class="target_pin" id="target_pin_'+pin_counter+'" style=" display:none; left:'+ target_pin + 'px;" value=" '+ time_stamps + ' "  src="/static/icons/intralink_target_icon.png">'
                  // insert new elements to body
                  $('.relative').before(intralink_start_html)
                  $('.relative').before(intralink_target_html)
                  // remove temporary pins
                  $('.temp_pin').remove();
                  $('.progress_bar_padding').fadeOut() // fade out selection area to signal completion of intralink building
                  // clear position & timestamp bins for reuse
                  pin_pos_array = [];
                  time_stamps = [];

                  $(function() {

                          // eventing handling with dynamically inserted elements
                          $('.start_pin').click(function() {
                              // jump to corresponding 'target time'of this intralink on click
                              var get_ts = $(this).attr('value')
                              var id = $(this).attr('id')
                              var idx = id[id.length-1]

                              var t_pairs = get_ts.split(',')
                              var seek_t = t_pairs[t_pairs.length-1] // seek target time

                              player.seekTo(seek_t, true) // youtube player jump to target time upon click
                              // make start pin invisible to direct focus to the 'target' pin
                              $(this).css('opacity', '0');
                              $('#target_pin_'+idx).fadeIn() // show target pin element
                          });

                          $('.target_pin').on('click', function(){
                              // revert back to start_time if target pin is clicked
                              var get_ts = $(this).attr('value')
                              var id = $(this).attr('id')
                              var idx = id[id.length-1]

                              var t_pairs = get_ts.split(',')
                              var seek_t = t_pairs[0] // seek start time

                              player.seekTo(seek_t, true) // jump back to start time of this intralink
                              $(this).fadeOut() // remove target pin
                              $('#start_pin_'+idx).css('opacity', '0.8'); // show start pin
                              $('#start_pin_'+idx).fadeIn()

                          })

                    });
                }

            else {
              var current_time = player.getCurrentTime();
              time_stamps.push(current_time)
              pin_pos_array.push(pos_left)
              $('#confirm_select_1').fadeOut();

              if ( time_stamps.length == 2) {
                  // get start & target pin position (left coodinate on webpage)
                  var first_pin_left_pos = pin_pos_array[0]
                  var last_pin_left_pos = pin_pos_array[pin_pos_array.length-1]
                  var start_pin = String(first_pin_left_pos)
                  var target_pin = String(last_pin_left_pos)
                  // pin count +1 (used as pin tag id index)
                  pin_counter++;
                  // make new element tags for start & target moment pins
                  var intralink_start_html = '<img class="start_pin" id="start_pin_'+pin_counter+'" style="left:'+ start_pin + 'px;" value=" '+ time_stamps + ' "  src="/static/icons/intralink_icon.png">'
                  var intralink_target_html = '<img class="target_pin" id="target_pin_'+pin_counter+'" style=" display:none; left:'+ target_pin + 'px;" value=" '+ time_stamps + ' "  src="/static/icons/intralink_target_icon.png">'
                  // insert new elements to body
                  $('.relative').before(intralink_start_html)
                  $('.relative').before(intralink_target_html)
                  // remove temporary pins
                  $('.temp_pin').remove();
                  $('.progress_bar_padding').fadeOut() // fade out selection area to signal completion of intralink building
                  // clear position & timestamp bins for reuse
                  pin_pos_array = [];
                  time_stamps = [];

                  $(function() {
                          // eventing handling with dynamically inserted elements
                          $('.start_pin').click(function() {
                              // jump to corresponding 'target time'of this intralink on click
                              var get_ts = $(this).attr('value')
                              var id = $(this).attr('id')
                              var idx = id[id.length-1]

                              var t_pairs = get_ts.split(',')
                              var seek_t = t_pairs[t_pairs.length-1] // seek target time

                              player.seekTo(seek_t, true) // youtube player jump to target time upon click
                              // make start pin invisible to direct focus to the 'target' pin
                              $(this).css('opacity', '0');
                              $('#target_pin_'+idx).fadeIn() // show target pin element
                          });

                          $('.target_pin').on('click', function(){
                              // revert back to start_time if target pin is clicked
                              var get_ts = $(this).attr('value')
                              var id = $(this).attr('id')
                              var idx = id[id.length-1]

                              var t_pairs = get_ts.split(',')
                              var seek_t = t_pairs[0] // seek start time

                              player.seekTo(seek_t, true) // jump back to start time of this intralink
                              $(this).fadeOut() // remove target pin
                              $('#start_pin_'+idx).css('opacity', '0.8'); // show start pin
                              $('#start_pin_'+idx).fadeIn()

                          })

                    });

                }
            }
        })

        // continue to select the target moment if user says no
        $('#confirm_button_no').on('click', function(){
            $('#confirm_select_1').fadeOut();
        })


    </script>


  </body>
</html>
