<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Hypervideo Room</title>
    {% include '/styles/_style_main.html' %}

    <script async src="https://cse.google.com/cse.js?cx=69c71397202d1fb8c"></script>
  </head>

  <body>
    <!-- let's get started -->

    <div class="relative" >

      <h1 style = "font-family:georgia,garamond,serif;font-size:22px;font-style:italic;">
        "Don't let your lectures run you."</h1>
      <p class='video_link' style="color:brown;"> **show user url:** <br> {{session['user_url']}} </p>

      <div class='toggle' id='browser_toggle' style=""> </div>

      <div class="result_icons">
        <div class="hyper_browsing" >
          <div class="embedded_explorer" style=" overflow: scroll; opacity: 0.7">
            <div class="gcse-searchbox"></div>
            <div id="gcse" class="gcse-searchresults" linktarget="_blank" data-enableHistory="true" data-autoCompleteMaxCompletions="5"
              queryParameterName="q" data-webSearchQueryAddition=" wikipedia OR youtube OR explained OR tutorial OR lecture "  data-autoCompleteMatchType='any'></div>
          </div>
          <div class="results_frame">
            <!-- <iframe id="explorer_frame" src="https://www.youtube.com/embed/SIOQgY1tqrU?autoplay=1&mute=1">
            </iframe> -->
            <iframe id="explorer_frame" src="http://www.wikipedia.org/">
            </iframe>

          </div>
        </div>



          <div class="video_frame" >
              <iframe id='YouTubeVideo' type="text/html" width="800"  height="600" src="{{session['user_url']}}" frameborder="0" ></iframe>
              <!-- <div id='progress_bar_padding'></div> -->

          </div>

          <div class="show_icons">
          </div>

      </div>

      <div class="feature" id="feature_1">
        <form method="POST" action="/" id='keyword_form' style=" background: #F8E016; top: 56%;">
              <label id="keyword_label" style="margin-left: 10px;" > Keyword </label>
              <input name="keyword" id="keyword_box" type="text" value="why" placeholder="e.g.problem" >
              <br>
              <label id="num_results_label" style="margin-left: 10px;"> Number of Results </label>
              <input name="num_results"  id="num_results_box" type="text" value="2" placeholder="2" >
              <br>
              <button class="button" id="capsearch_button" type=”submit” name="form_butt"> Search </button>
          </form>
          <br>
          <div class='toggle' id='f1_toggle' style="background: #F8E016; top: 56%;"> </div>
      </div>

      <div class="feature" id="feature_2">

         <form action="" method="GET" id='explorer_form' style=" background: #16F867; top: 16%;">
            <p id='explorer_title' style="margin-top: 10px; text-align: center; margin-bottom: 0px"> Hypervideo Explorer </p>

            <input name="explorer_query" id="explorer_inputs" type="text" value="" placeholder="paste in your link here" style="margin-left: 10%; margin-top: 5%; width: 150px;">

            <br>
            <button class="button" id="hypervideo_button"  type="submit" >Explore</button>

          </form>
          <br>
          <div class='toggle' id='f2_toggle' style="background: #16F867; top:16%;"> </div>

      </div>

      <div class="feature" id="feature_3">
        <form action="/" method="POST" id='intralink_form' style="background: #A968F3; top: 36%;">
              <p id='intralink_title' style="margin-top: 17px; text-align: center; margin-bottom: 0px"> Select Two Moments to <br> Add An Intralink </p>
              <button id="intralink_button" type=”submit” name="form_butt"> Select </button>
          </form>
          <br>
          <div class='toggle' id='f3_toggle' style="background: #A968F3; top: 36%;"> </div>
      </div>

      <div class="play_v_in_iframe">
        <iframe src="https://www.youtube.com/embed/Rk8dCnKIfP4" name="iframe1"></iframe><br />
            <a href="https://www.youtube.com/embed/Rk8dCnKIfP" target="iframe1" style=" position: absolute; top: 880px; left:310px;">Birth</a><br />
            <a href="https://www.youtube.com/embed/CIFBjZU55so" target="iframe1">Article I</a>
      </div>


      <div class="debug" >
            <p id='route_debug'> debug mode </p>
            <div class="route_check">
              {# temporary section: route checking for home page #}
              {% with keyword=session['keyword'], num_results=session['num_results'],
                    route=route, notes=notes, captions=captions,
                      icon_pos=icon_pos, time_stamp=time_stamp %}
                {% include 'temp/_route_checks_main.html' %}
              {% endwith %}
            </div>
      </div>

    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript">
          // create a youtube player object
        var player = document.getElementById("YouTubeVideo");

        // var explorer_iframe = document.getElementById('explorer_frame');
        // explorer_iframe.onload = function () {
        //     var body = explorer_iframe.contentWindow.document.querySelector('body');
        //     body.style.color = 'red';
        //     body.style.fontSize = '20px';
        //     body.style.lineHeight = '20px';
        // };


        $("#browser_toggle").click(
                function() {
              $(".hyper_browsing").toggle();
          })
        // toggle side bars
        $("#f1_toggle").click(
               function() {
             $("#keyword_form").toggle();
             $(".caption_icon").toggle();
             // $(".caption_text").toggle();
           })

        $("#f2_toggle").click(
                function() {
              $("#explorer_form").toggle();
              // $(".hyper_browsing").toggle();
          })

        $("#explorer_form").click(
                  function() {
                $(".embedded_explorer").toggle();
            })

        $("#f3_toggle").click(
                function() {
              $("#intralink_form").toggle();
          })




        //  feature 2: embed Google search results
        $('#explorer_form').on("submit",function(e){

            e.preventDefault();
            var user_query = $("#explorer_inputs").val()

            $(".embedded_explorer").show(); // show Google search bar
            $("#explorer_form").hide(); // hide search box

            // alert(user_query)

            $.post("/explorer_query", { current_query : user_query} )
                  .done (function (reply) {

                    $(".results_frame").empty(); // first, remove old iframe tag

                    // alert(reply.user_embedded_url)
                    var embedded_url = reply.user_embedded_url
                    // var iframe_head = "<iframe id='explorer_frame' src="
                    // var iframe_tail = "></iframe>"
                    // make a new iframe tag with new url
                    var html_new_iframe = "<iframe id='explorer_frame' src=" + embedded_url + "></iframe>"

                    $( ".results_frame" ).append(html_new_iframe);
                    // alert('~~~~~~new iframe embedded~~~~~')

                    // $(".embedded_explorer").show(); // show Google search bar
                    $("#explorer_form").hide(); // hide search box
                    $('#explorer_inputs').val(''); // clear input box for new entry
                })
                  .fail(function() { alert("error"); })
        });


        // hover&show / hoveroff&hide for the Google search box
        $(".embedded_explorer").hover(function(){
            $('#gcse').fadeIn();
                  },function(){
            $('#gcse').fadeOut();
          });

        // hover&show / hoveroff&hide for results iframe
        $(".results_frame").hover(function(){
              $('#explorer_frame').fadeIn();
                    },function(){
              $('#explorer_frame').fadeOut();
            });

        //  feature 1: caption_search and results display
        $('#keyword_form').on("submit",function(e){
            e.preventDefault();
            $(this).fadeOut(); // hide itself upon form submission
            var caption_keywords = $("#keyword_box").val();
            var num_results = $("#num_results_box").val();
            var user_url = $('#YouTubeVideo').attr('src');

            $.post("/caption_search",
                      { current_keyword : caption_keywords,
                        current_num_results : num_results,
                        current_user_url: user_url })
                  .done (function (data) {
                      // alert("caption keywords & num_results posted to Python !");
                      // alert(data[0].caption);

                      $( ".show_icons" ).empty();  // empty results div

                    // now convert caption timestamps to icon positions on video progress bar
                      var items = [];
                      var video_width = $('#YouTubeVideo').attr("width");

                      $.each( data, function( key, val ) {
                          var icon_pos_i = (video_width * 0.9698 * val.progress)+ 5.95;
                          // alert(icon_pos_i);

                          items.push(
                            "<img class='caption_icon' id='flag_icon_" + key + "' value=" + key + " src='/static/icons/flag_icon.png' "+
                                                 "alt='me.jpeg'  style='position: absolute; left: " + icon_pos_i + "px; '>" +
                            "<p class='caption_text' id='captext_" + key +"' value=" + key  +  "> " + val.caption +  "</p>"
                            );
                        });

                      var html_results_icon = items.join( "" ) // join each result flag
                      $( ".show_icons" ).append(html_results_icon);


                      // show/hide caption on mouse hover
                      $(".caption_icon").hover(function(){
                          var idx = $(this).attr('value') // should be a str(int)
                          $('#captext_'+idx).fadeIn() ;
                        });

                      $(".caption_icon").mouseleave(function(){
                            var idx = $(this).attr('value') // should be a str(int)
                            $('#captext_'+idx).fadeOut() ;
                          });

                      // show/hide caption on mouse hover

                })
                  .fail(function() { alert("error"); })
        });

        $('#intralink_form').on("submit",function(e){
            e.preventDefault();
            alert('select TWO moments on the progress bar!')
            var timestamps = [];

            $('.ytp-progress-bar').on("click", function(){
                alert('progress bar clicked!!')
                // var t = player.getCurrentTime();
                // alert(t);



            });

        });

        // $(".gcse-searchresults").bind({
        //        copy : function(){
        //            alert('copy behaviour detected!');
        //        },
        //        paste : function(){
        //            alert('paste behaviour detected!');
        //        },
        //        cut : function(){
        //            alert('cut behaviour detected!');
        //        }
        //    });






      // links to build iframe mini browser within webpage
      // https://stackoverflow.com/questions/32921815/embed-web-browser-within-web-page
      // https://stackoverflow.com/questions/8863029/full-featured-iframe-w-forward-back-buttons-url-loader-etc

      $(".debug").click(
          function() {
            $(".route_check").toggle();
      })



    </script>


  </body>
</html>
